
/*Para las ventanas Alert emergentes*/

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #CCCCCC;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #FFF; font-size:19px; padding:10px; color:#FFF; } /* #3093c7*/
#dialogbox > div > #dialogboxbody{ background:#BBDDFF; padding:20px; color:#666666; } /*#009EEA*/
#dialogbox > div > #dialogboxfoot{ background: #FFF; padding:10px; text-align:right; } /* #3093c7*/

/* Basic Grey */

#bg{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

.basic-grey {
    margin-left:auto;
    margin-right:auto;
   /* max-width: 500px;*/
    background: #F7F7F7;
    padding: 1px 1px 1px 1px;
	/*   padding: 25px 15px 25px 10px; */
    font: 12px Candara;
    color: #888;
 /*   text-shadow: 1px 1px 1px #FFF;*/
    border:1px solid #E4E4E4;
}
.basic-grey table {
    border: solid 2px #DDEEEE;
  /*  border-collapse: collapse;*/
    border-spacing: 0;
   /* font: normal 13px Arial, sans-serif; */
	    font: 12px Candara;
}


.basic-grey h1 {
    font-size: 20px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:0px solid #E4E4E4;
    margin: -10px 0px 10px 0px;
    color: #888;
}
.basic-grey h2 {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    display: block;
    border-bottom:0px solid #E4E4E4;
	/*DE ARRIBA - - -DE ABAJO - DE IZQ*/
    margin: 10px 0px 10px 10px;
    color: #FFFFFF;
}

.basic-grey h3 {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    display: block;
    border-bottom:0px solid #E4E4E4;
	/*DE ARRIBA - - -DE ABAJO - DE IZQ*/
    margin: 10px 0px 10px 10px;
    color: #3366CC;
}
.basic-grey h1>span {
    display: block;
    font-size: 10px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
   /* width: 20%;*/
   width: 20%;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
	margin-left:10px;
   /* color: #888;*/
/*	color:#CC0000;*/
font-weight: bold;
}


.basic-grey input[type="text"], .basic-grey input[type="number"], .basic-grey input[type="password"], .basic-grey input[type="email"],  .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
 /*   width: 70%;*/
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea
{
    border: 1px solid #DADADA;
    color: #888;
	margin-left:30px;
	 box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey resaltar{
   font-size:16px;
   color:blue;
}

.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}

.basic-grey .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
 background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.basic-grey select {
   background: #FFF url('http://10.129.45.33/GA_D/images/down-arrow.jpg') no-repeat right; 
   background: #FFF url('http://10.129.45.33/GA_D/images/down-arrow.jpg') no-repeat right; 
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: -1px;
    text-overflow: '';
/*    width: 70%;*/
    height: 35px;
    line-height: 25px;
}
/*
.basic-grey textarea{
    height:100px;
}
*/

.Tit01 {
	font-family: Candara;
	font-size: 16px;
	color: #0b3d91;
	text-align: left;
	font-weight: bold;
}


.Msg01 {
	font-family: Candara;
	font-size: 13px;
	color: #FF0066;
	text-align: center;
	font-weight: bold;
}


.basic-grey .button:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

/* boton pequeño edicion password*/
.basic-grey button{ 
    background: #E27575;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.basic-grey button:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.basic-grey .button, .button.disabled:hover { 
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border:1px solid #25729a; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Candara; 
   padding: 10px 25px 10px 25px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.basic-grey .button:hover{
    border:1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, 	endColorstr=#133d5b);
}

/*Fin Botoncitos*/


.CSSTableGenerator {
	margin:0px;padding:0px;
/*	width:auto;
	width:100%;*/
	max-width: 700px; 
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;

	table-layout:auto;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}

.CSSTableGenerator .button:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.CSSTableGenerator .button, .button.disabled:hover { 
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border:1px solid #25729a; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Candara; 
   padding: 10px 25px 10px 25px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.CSSTableGenerator .button:hover{
    border:1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, 	endColorstr=#133d5b);
}

.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#cbe0f5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Candara;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #2F90C4 5%, #2F90C4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2F90C4), color-stop(1,#2F90C4) );
	background:-moz-linear-gradient( center top, #2F90C4 5%,#2F90C4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2F90C4", endColorstr="#2F90C4");	background: -o-linear-gradient(top,#2F90C4,2F90C4);

	background-color:#2F90C4; /*#005fbf;*/
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family: Candara;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #2F90C4 5%, #2F90C4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2F90C4), color-stop(1, #2F90C4) );
	background:-moz-linear-gradient( center top, #2F90C4 5%, #2F90C4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2F90C4", endColorstr="#2F90C4");	background: -o-linear-gradient(top,#2F90C4,2F90C4);

	background-color:#2F90C4;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
table.imagetable {
	font-family: Candara;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-collapse: collapse;
}
table.imagetable th {
	background:#628CB4;
	border-width: 0px;
 	font-weight:bold;
	font-color:#fff;
    color:white;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable th2 {
	background:#FFFFE5;
	border-width: 0px;
 	font-weight:bold;
	font-color:#fff;
    color:white;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td {
	background:#DFDCD5;
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
